
body {
    font-family: 'David Libre', serif;
}

.header {
    background-image: linear-gradient(to right, rgba(200, 200, 200, .95), rgba(0,0,0,.95));
}

.popupBtn {
    font-family: 'David Libre', serif;
}

.container, #search, #closestBirth {
    direction: rtl;
}

#searchImg {
    right: unset;
    left: 1rem;
}

.nextBirthday, .btnWrapper, .sortContainer {
    direction: rtl;
}

.hoverImgWrapper {
    background: url(../images/‏‏thoughtHeb.png) center center no-repeat;
    background-size: 15rem 15rem;
    right: unset;
    left: 0;  
}

.addeventatc {
    padding: 13px 43px 12px 12px;
    font-family: 'David Libre', serif !important;
}

.addeventatc .addeventatc_icon {
    left: unset;
    right: 8px;
}

.personWrapper p {
    font-size: 1.3rem;
}

.popUpInfo p {
    font-size: 1.3rem;
}

@media only screen and (max-width: 440px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 370px) {

    h1 {
        font-size: 1.2rem;
    }
}
