
html {
    position: relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
    font-family: Kurale, sans-serif;
    margin: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

main {
    margin-top: 12rem;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    background-color: white;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.3);
	background-color: #ff5a4e;
}

.headerContainer {
    width: 100%;
    z-index: 1;
}

.header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10rem;
    /* background-color: #EAEAEA; */
    /* background-image: linear-gradient(to right, rgba(0, 200, 180, .95), rgba(200,180,200,.95)); */
    background-image: linear-gradient(to right, rgba(238, 227, 0, .95), rgba(238,0,0,.95));
    box-shadow: 0 3px 8px 3px #848484;
    transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    z-index: 4;
}

h1 {
	text-align: center;
	margin-top: 2rem;
}

#langBtnEn {
    position: absolute;
    width: 90px;
    height: 70px;
    top: 1rem;
    left: 0;
    pointer-events: none;
}

#langBtnHe {
    position: absolute;
    width: 90px;
    height: 70px;
    top: 1rem;
    right: 0;
}

.btnWrapper {
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
    width: 100%;
    opacity: 0;
    position: relative;
}

.btnWrapper button {
    border: none;
    width: 7rem;
    height: 3rem;
    margin: 1rem;
    background: white;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 1px 3px 3px #848484;
    transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    font-family: Kurale, sans-serif;
    font-size: 1rem;
}

#animalImg {
    position: absolute;
    width: 250px;
    height: 250px;
    z-index: 3;
}

.sortContainer {
    display: none;
    width: 100%;
    position: absolute;
    top: 5rem;
    z-index: 3;
}

.sortContent {
    width: 50%;
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,#e0ffff,rgba(255,0,0,.9),#e0ffff);
    border-radius: 5px;
    box-shadow: 0 1px 3px 3px #848484;
    margin: auto;
}

button:active {
  box-shadow: 0 5px 5px #666;
  transform: translateY(4px);
  -ms-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -o-transform: translateY(4px);
}

.searchContainer {
    position: absolute;
    top: 6rem;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.searchContant {
    position: relative;
    width: 30%;
    margin: auto;
}

#searchResults {
    display: none;
    position: absolute;
    background-image: linear-gradient(-180deg, #3fe09b, white);
    box-shadow: 0 3px 8px 0 #848484;
    border-radius: 5px;
    height: 15rem;
    overflow-y: scroll;
    width: 100%;
}

.resultImgWrapper {
    width: 50%;
}

.result {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 1rem;
    cursor: pointer;
}

.resultName {
    width: 50%;
    font-size: 1.5rem;
}

.resultImg {
    width: 80px;
    border-radius: 5px;
}

#search {
    border: none;
    width: 100%;
    height: 2rem;
    text-indent: 1rem;
    font-size: 1.3rem;
    outline: none;
    border-bottom: 1px solid #ccc;
    background: none;
    font-family: Kurale, sans-serif;
}

#search::placeholder {
    color: lightgray;
}

#searchImg {
    position: absolute;
    top: 0;
    right: 1rem;
    width: 30px;
}

#search:focus {
    outline: none;
}

#search ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #ff5a4e;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
}
#search:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    left: 0;
}

.spinnerWrapper {
    position: absolute;
    top: 8rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    min-height: 215px;
    vertical-align: top;
}

.loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 75px;
    display: inline-block;
    vertical-align: middle;
}
    
.loader-1 .loader-outter {
    position: absolute;
    border: 4px solid #ef5350;
    border-left-color: transparent;
    border-bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
    -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
    
}
    
.loader-1 .loader-inner {
    position: absolute;
    border: 4px solid #ef5350;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    border-right: 0;
    border-top-color: transparent;
    animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
    -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

@keyframes loader-1-outter {

    0% {
         transform: rotate(0); 
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
    }

    100% {
         transform: rotate(360deg); 
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-1-outter {

    0% {
         transform: rotate(0); 
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
    }

    100% {
         transform: rotate(360deg); 
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
    
@keyframes loader-1-inner {

    0% {
         transform: rotate(0); 
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
    }
    100% {
         transform: rotate(-360deg); 
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
    }
}
    
@-webkit-keyframes loader-1-inner {
    0% {
         transform: rotate(0); 
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
    }
    100% {
         transform: rotate(-360deg); 
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
    }
}
    
h2 {
	font-size: 4rem;
	text-align: center;
    display: block;
    width: 100%;
}

p {
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
}

.groupWrapper {
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: relative;
}

.parentDiv {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
}

.oddGroup {
    background-image: linear-gradient(-180deg, #3fe09b, #3a47e4);
}

.evenGroup {
    background-image: linear-gradient(180deg, #3a47e4, #3fe09b);
}

.evenGroup::after {
    content: '';
    background: linear-gradient(to right, transparent, #3a47e4, transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
}

.oddGroup::after {
    content: '';
    background: linear-gradient(to right, transparent, #3fe09b, transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
}

.girl {
    background-color: pink;
}

.boy {
    background-color: lightblue;
}

.parent {
    background-color: orange;
}

.boyBornToday {
    background: lightblue url(../images/fireworks.png) no-repeat center center;
    background-size: 100% 100%;
}

.girlBornToday {
    background: pink url(../images/fireworks.png) no-repeat center center;
    background-size: 100% 100%;
}

.clothesImg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    z-index: 1;
}

.personWrapper {
    box-shadow: 0 3px 8px 3px #848484;
    border-radius: 5px;
    margin: 2rem;
    text-align: center;
    transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    cursor: pointer;
    position: relative;
    width: 20rem;
    height: 25rem;
    z-index: 2;
}

.personDetailsWrapper {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.personWrapper p {
    font-size: 1.3rem;
    color: white;
    text-shadow: 1px 1px 6px black;
    z-index: 2;
}

.personName {
    font-size: 1.4rem !important;
    margin-bottom: -1rem;
}

.genderImg {
    position: absolute;
    top: .5rem;
    right: 1rem;
    width: 30px;
    z-index: 999;
}

.zodiacImg {
    position: absolute;
    top: .5rem;
    left: 1rem;
    width: 40px;
    z-index: 999;
}

.personImgWrapper {
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
    text-align: center;
    z-index: 999;
}

.personImg {
    width: 10rem;
    height: 10rem;
    border-radius: 100px;
    box-shadow: 0 1px 3px 3px #848484;
}

.goToTopBtn {
    display: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: fixed;
    bottom: 6rem;
    right: 1.5rem;
    z-index: 999;
}

/*------------------------Popups-------------------------*/
    
.popUpInfo {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    min-height: 900px;
    background: rgba(210,220,225,.8);
    top: 0;
}

.popUpInfo h2 {
    font-size: 2rem;
}

.popUpInfo p {
    font-size: 1.2rem;
}

.popupCont {
    display: block;
    position: fixed;
    width: 40rem;
    background: #fff;
    padding: 1em;
    top: 5%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

.personNamePop {
    margin-bottom: 0;
    margin-top: 0;
}

.linksWrapper {
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 11rem;
}

#facebookLink {
    margin-left: 2rem;
    margin-right: 2rem;
}

#instagramLink {
    margin-left: 2rem;
    margin-right: 2rem;
}

#facebookImage {
    width: 100px;
    height: 100px;
    filter: drop-shadow(1px 1px 2px gray);
    -webkit-filter: drop-shadow(1px 1px 2px gray);
}

#instagramImage {
    width: 100px;
    height: 100px;
    filter: drop-shadow(1px 1px 2px gray);
    -webkit-filter: drop-shadow(1px 1px 2px gray);
}

.popupBtnsWrapper {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.popupBtn {
    padding: .7rem;
    width: 7rem;
    margin: auto;
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor:pointer;
    background-color: #ff5a4e;
    box-shadow: 0 0 0 0.5px rgba(50,50,93,.17), 0 2px 5px 0 rgba(50,50,93,.1), 0 1px 1.5px 0 rgba(0,0,0,.07), 0 1px 2px 0 rgba(0,0,0,.08), 0 0 0 0 transparent!important;
    font-family: Kurale, sans-serif;
}

.Xbtn {
    display: block;
    position: absolute;
    width:25px;
    height:25px;
    background:url(../images/closeBtn.png) no-repeat top center;
    background-Size:100% auto;
    top: 1em;
    right: 1em;
    cursor:pointer;
}

.personCoverWrapper {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    z-index: 0;
    text-align: center;
}

#personCover {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    opacity: .3;
}

.nextBirthday {
    margin: 0;
    position: absolute;
    top: 7rem;
    left: 0;
    color: white;
    text-shadow: 1px 1px 6px black;
    z-index: 3;
    font-size: 1.2rem;
}

.checkBirthdayWrapper {
    width: 100%;
    position: absolute;
    top: 11rem;
    left: 0;
    z-index: 3;
}

#checkBirthdaysLink {
    text-shadow: 1px 1px 6px black;
    color: white;
    font-size: 1.2rem;
}

#addeventatc1, #addeventatc2 {
    display: block;
    outline: none;
    width: 9rem;
    margin: auto;
    color: white !important;
    background-color: #5EA0FF;
    font-family: Kurale, sans-serif;
    font-size: 1.1rem;
}

#addeventatc2 {
    display: none;
}

@media only screen and (max-width: 1200px) {

    .sortContent {
        width: 70%;
    }

    .personWrapper {
        width: 15rem;
        margin: 1rem;
    }

    .clothesImg {
        height: 90%;
    }

    .personImg {
        width: 8rem;
        height: 8rem;
    }
}

@media only screen and (max-width: 1100px) {
    #animalImg {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 1000px) {

    .popupCont {
        width: 65%;
    }

    .searchContant {
        width: 75%;
    }
}

@media only screen and (max-width: 880px) {

    #animalImg {
        display: none;
    }
 
    .sortContent {
        width: 90%;
    }

    .personWrapper img {
        margin-right: 0;
    }
}

@media only screen and (min-width: 765px) {

    .personWrapper:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }
}

@media only screen and (max-width: 765px) {

    .personWrapper p {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 550px) {

    .popUpInfo p , .nextBirthday, #checkBirthdaysLink {
        font-size: 1rem;
    }

    #facebookImage {
        width: 85px;
        height: 85px;
    }

    #instagramImage {
        width: 85px;
        height: 85px;
    }

    .personWrapper {
        width: 12rem;
    }

    #dress {
        height: 80%;
    }
}

@media only screen and (max-width: 460px) {

    .genderImg {
        width: 20px;
    }

    .zodiacImg {
        left: .5rem;
        width: 30px;
    }

    .personWrapper {
        width: 9rem;
    }

    .searchContant {
        width: 87%;
    }

    #facebookImage {
        width: 75px;
        height: 75px;
    }

    #instagramImage {
        width: 75px;
        height: 75px;
    }
}
@media only screen and (max-width: 410px) {

    h1 {
        font-size: 1.5rem;
    }

    .popupCont {
        top: 2%;
    }
}

@media only screen and (max-width: 370px) {

    .clothesImg {
        height: 80%;
    }

    #suit {
        opacity: .15;
    }

    #facebookImage {
        width: 65px;
        height: 65px;
    }

    #instagramImage {
        width: 65px;
        height: 65px;
    }

    #search {
        font-size: 1.1rem;
    }

    .personWrapper {
        width: 7rem;
    }

    .personImg {
        width: 6rem;
        height: 6rem;
    }

    .genderImg {
        right: .5rem;
    }

    .zodiacImg {
        width: 25px;
        left: .2rem;
    }
}

@media only screen and (max-width: 350px) {

    h1 {
        font-size: 1.2rem;
    }

    .popupBtnsWrapper {
        margin-top: 1rem;
    }
}
