
body {
    font-family: 'David Libre', serif;
}

.popupBtn {
    font-family: 'David Libre', serif;
}

.container, #search, .closestBirth {
    direction: rtl;
}

#searchImg {
    right: unset;
    left: 1rem;
}

.nextBirthday {
    direction: rtl;
}

.hoverImgWrapper {
    background: url(../images/‏‏thoughtHeb.png) center center no-repeat;
    background-size: 15rem 15rem;
    right: unset;
    left: 0;  
}

.addeventatc {
    padding: 13px 43px 12px 12px;
    font-family: 'David Libre', serif !important;
}

.addeventatc .addeventatc_icon {
    left: unset;
    right: 8px;
}

.personWrapper p {
    font-size: 1.3rem;
}

.popUpInfo p {
    font-size: 1.3rem;
}

@media only screen and (max-width: 430px) {
    .personDetailsWrapper {
        margin-right: 0;
        margin-left: .5rem;
    }

    .personWrapper p {
        text-align: right;
    }
}
